/* COMPONENTS */
@import './css/components/Button.css';
@import './css/components/Navbar.css';

/* CONTAINERS */
@import './css/containers/Login.css';

:root {
    --main-color: #b19379;
    --background-color: #b5b8c8;
    --secondary-color: #1b2a55;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: var(--background-color);
}

.main-container {
    width: 100%;
    height: auto;
}